/* HERO SECTION */
.hero {
    background: linear-gradient(to right, #4c6ef5, #5c7cfa);
    padding: 80px 0;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.3rem;
    opacity: 0.9;
}


/* CATEGORY */
.category-card {
    text-align: center;
    overflow: hidden;     /* Image বাইরে যাবে না */
    border-radius: 10px;
}

.category-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    max-width: 100%;      /* কখনোই div এর বাইরে যাবে না */
    margin: 0 auto;
    display: block;
}

/* PRODUCT GRID */
.product-card {
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid #eee;
    background: white;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.product-card .title {
    font-size: 1.2rem;
    font-weight: 600;
}

.product-card .price {
    color: #4c6ef5;
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-add {
    background: #4c6ef5;
    color: white;
}

.btn-add:hover {
    background: #3b5bdb;
    color: white;
}
